.contact-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 85%;
    margin: 0 auto;

    img {
        width: 150px;
    }

    h2 {
        font-size: 19px;
        padding-top: 10px;

        @media (min-width: $media-ipad) {
            font-size: 29px;
            padding-top: 40px;
        }
    }

    p {
        font-weight: 100;
        @media (min-width: $media-ipad) {
            font-size: 22px;
        }
    }

    .card-box-warpper {
        border: 1px solid getColor(black);
        margin-top: 10px;

        .card-box {
            display: flex;
            flex-direction: column;

            @media (min-width: $media-ipad) {
                flex-direction: row;
            }
        }

        .card {
            background: getColor(blue);
            text-align: center;
            padding: 10px;

            @media (min-width: $media-ipad) {
                padding: 50px
            }

            i {
                color: getColor(black);
                font-size: 40px;
                padding: 10px;

                &:hover {
                    color: white;
                }
            }
        }

        .contact-details {
            padding: 20px;
            padding-top: 10px;
            padding-bottom: 10px;

            @media (min-width: $media-ipad) {
                padding: 40px;
            }

            h3 {
                text-transform: uppercase;
                letter-spacing: 8px;
                font-size: 33px;
                font-weight: 400;
                padding-top: 10px;
            }

            h4 {
                font-size: 19px;
                font-weight: 100;
                text-transform: uppercase;
            }

            hr {
                width: 30%;
                border: 1px solid getColor(black);
                margin-top: 10px;
                margin-bottom: 10px;
            }

            li {
                list-style: none;
                padding-bottom: 8px;

                .fa-user-circle {
                    color: getColor(red);
                    font-size: 25px;
                }

                .fa-at {
                    color: getColor(blue);
                    font-size: 25px;
                }

                .fa-phone-alt {
                    color: getColor(green);
                    font-size: 25px;
                }

                a {
                    font-size: 19px;
                    text-decoration: none;
                    color: getColor(black);
                    padding-left: 6px;
                    font-weight: 100;

                    &:hover {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}