.earproof-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    @media (min-width: $media-ipad) {
        flex-direction: row;
    }

    .logo {
        border: none;
        width: 150px;
        margin: 0 auto;
        display: block;
    }

    img {
        width: 300px;
        margin-top: 20px;
        border: 1px solid black;

        @media (min-width: $media-laptop) {
            width: 200px;
        }
    }

    h1 {
        font-weight: 100;

        span {
            font-weight: 700;
        }
    }

    .info {
        padding-top: 20px;

        h2 {
            font-weight: 100;
            padding-bottom: 8px;
            text-transform: uppercase;
            font-size: 18px;
        }

        hr {
            width: 80%;
            border: 1px solid black;
        }

        h3 {
            padding-top: 8px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
        }

        p {
            font-weight: 100;
            font-size: 14px;
        }

        .action-buttons {
            display: flex;
            justify-content: space-between;
            padding-top: 10px;

            .read-more {
                background: getColor(blue);
            color: white;
            padding: 8px;
            border-radius: 8px;
            box-shadow: 0 2px 5px grey;

            a {
                color: white;
                text-decoration: none;
            }

            &:hover {
                color: getColor(black);
                background: white;
            }

                @media (min-width: $media-ipad) {
                    display: none;
                }
            }

            .link {
                padding: 8px;
                border-radius: 8px;

                border: 1px solid getColor(black);
                box-shadow: 0 2px 5px grey;

                @media (min-width: $media-ipad) {
                    background: getColor(blue);
                }

                a {
                    text-decoration: none;
                    color: getColor(black);
                    text-transform: uppercase;
                    font-size: 14px;

                    @media (min-width: $media-ipad) {
                        color: white;
                    }

                }
            }
        }

        span {
            font-weight: 700;
        }
    }

}

.project-breaf {
    display: none;

    @media (min-width: $media-ipad) {
        display: block;
        width: 70%;
        border: 1px solid black;
        padding: 20px;
        height: 80%;
        margin: 0 auto;
    }
}

h1 {
    padding-top: 20px;
}

p {
    padding-top: 8px;
    padding-bottom: 8px;
}

.brief-heading {
    padding-bottom: 20px;
    font-weight: 100;

    span {
        font-weight: 700;
    }

}

.content-wrapper {
    @media (min-width: $media-ipad) {
        display: flex;
        width: $media-ipad;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 80%;
        margin: 0 auto;
    }

    @media (min-width: $media-laptop) {
        width: 50%;
        height: 90%;
    }

    p {
        font-size: 14px;
        font-weight: 100;
    }

}