

.hero-container {
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   

    

.container-small-devices {

    @media (min-width: $media-laptop) {
        display: none;
    }

}


    @media (min-width: $media-ipad) {
        width: $media-ipad;
        margin: 0 auto;
    }

    @media (min-width: $media-laptop) {
        width: $media-laptop;
        margin: 0 auto;
    }

    .container-bigger-devices {
        display: none;

        @media (min-width: $media-laptop) {
            display: block;
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
        } 
    }

    

    .portfolio-image {
        padding-top: 30px;
        
        
        img {
            padding-top: 30px;
            padding-left: 20px;
            padding-right: 10px;
            background: getColor(grey);
            border: 1px solid getColor(black);
        }
    }



        h2 {
            text-transform: uppercase;
            letter-spacing: 20px;
            font-size: 30px;
            padding-top: 30px;
            font-weight: 100;
        }

        .quote {
            font-size: 18px;
            padding-top: 30px;
            
            h4 {
                font-weight: 100;
            }

            i {
                color: getColor(blue);
            }
        }

        .action-buttons {
            padding: 10px;
            padding-top: 50px;

            a {
                text-decoration: none;
                text-transform: uppercase;
                margin: 8px;
                cursor: pointer;
                font-size: 16px;
                font-weight: bold;
            }

            .read-more {
                background: getColor(blue);
                color: white;
                padding: 10px 26px 10px 26px;
                border-radius: 16px;
                box-shadow: 0 2px 5px grey;
            }

            .contact {
                padding: 10px 26px 10px 26px;
                border-radius: 16px;
                color: getColor(black);
                border: 1px solid getColor(black);
                box-shadow: 0 2px 5px grey;
            }
        }

}